<!DOCTYPE html>
<html>
  <head>
    <title>My Awesome Web App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      /* Add any necessary styles here */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      body {
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        background-image: url("https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg?w=1380&t=st=1683305241~exp=1683305841~hmac=9f368cef96fd2ebcadc5d5daa90a94286b8c100d11ed293d91a28be6a93116da");
        background-size: cover;
        background-position: center center;
      }
      header {
        background-color: #333;
        color: #fff;
        padding: 1em;
      }
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      nav li {
        display: inline-block;
        margin-right: 1em;
      }
      nav a {
        color: #fff;
        text-decoration: none;
      }
      nav a:hover {
        text-decoration: underline;
      }
      main {
        flex: 1;
        padding: 2em;
      }
      h1 {
        font-size: 3em;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0;
        text-align: center;
        color: white;
      }
      p {
        font-size: 1.25em;
        line-height: 1.5;
        margin-bottom: 2em;
      }
      .cta-button {
        background-color: #007bff;
        border: none;
        border-radius: 0.25em;
        color: #fff;
        display: inline-block;
        font-size: 1.25em;
        margin-right: 1em;
        padding: 0.75em 1.5em;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
      }
      .cta-button:hover {
        background-color: #0062cc;
      }
      footer {
        background-color: #333;
        color: #fff;
        padding: 1em;
        text-align: center;
        margin-top: auto;
      }
      footer p {
        margin: 0;
      }
      .buttons{
        text-align: center;
      }
      .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/log_out">Log out</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/products">Products</a></li>
        </ul>
      </nav>
    </header>

    <main>
    <div class="container">
      <h1>Welcome to my web app!</h1>
      <div class="buttons">
        <a href="/users/sign_up" class="cta-button">Sign Up</a>
        <a href="/users/sign_in" class="cta-button">Log In</a>
      </div>
    </div>
    </main>

    <footer>
      <p>&copy; 2023 My web app</p>
    </footer>
  </body>
</html>
